<div class="page-header">
  <h3><%= @dish.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish has many bookmarks -->

<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%= @dish.name %> at...
        </h4>
        
        <% @dish.bookmarks.each do |bm| %>
        <div class="list-group-item">
          <a href="/bookmarks/<%= bm.id %>">
            <%= bm.notes %>
          </a>
          <div class="btn-group btn-group-xs float-right">
            <a href="/bookmarks/<%= bm.id %>"></a>
            <a href="/bookmarks/<%= bm.id %>/edit"></a>
            <a href="/delete_bookmark/<%= bm.id %>" rel="nofollow"></a>
          </div>
        </div>
      <% end %>
      
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      
      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
          
           <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
           
           <input type="hidden" name="dish_id" value="<%= @dish.id %>">
           
           <div class="form-group">
            <label for="venue_id" class="control-label">
              Venue
            </label>
            
          <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
          </div>
          
          <div class="form-group">
          <label for="notes" class="control-label">
            Notes
          </label>

          <textarea id="notes" name="notes" placeholder="Dishes Notes" class="form-control" rows="3"></textarea>
          </div>

          <button>
          Create Bookmark
          </button>
        </form>
        </li>
      </div>
    </div>
  </div>
</div>

       <!--ATTEMPTED SOLUTION, FOUND BETTER WAY ABOVE-->
      
<!--      <div>-->
<!--        <label for="venue_id" class="control-label">-->
<!--            Venue-->
<!--        </label>-->
<!--        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control")%>-->
<!--      </div>-->
      
<!--      <ul class="list-group">-->
<!--        <li class="list-group-item">-->
<!--        <% bm = Bookmark.where(:dish_id => @dish.id, :user_id => current_user.id) %>-->
<!--          <% if bm.first.present? %>-->
<!--            <a href="/venues/<%= bm.first.venue_id %>">-->
<!--              <%= Venue.find(bm.first.venue_id).name %>-->
<!--            </a>-->
<!--        </li>-->
<!--          <% else %>-->
          
          
        
<!--        <li class="list-group-item">-->
<!--          <form action="/create_bookmark" class="form-inline float-left" method="post">-->
<!--            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">-->
<!--            <input name="dish_id" type="hidden" value="<%= @dish.id %>">-->
<!--            <input name="user_id" type="hidden" value="<%=current_user.id %>">-->
<!--            <div class="form-group mr-sm-1">-->
<!--              <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control")%>-->
<!--            </div>-->
            
<!--            <button class="btn btn-primary btn">-->
<!--              <i class="fa fa-heart"></i>-->
<!--            </button>-->
<!--          </form>-->
          
<!--          <small class="float-right text-mnuted">-->
<!--            <%= time_ago_in_words(@dish.updated_at) %> ago-->
<!--          </small>-->
<!--        </li>-->
<!--        <% end %>-->
<!--      </ul>-->
      
<!--        <div class="card-footer text-center">-->
<!--          <a href="/dishes" class="btn btn-block btn-secondary">-->
<!--            <i class="fa fa-chevron-left"></i>-->
<!--          </a>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<% @dish.bookmarks.each do |bookmark| %>-->
      <!--  <li class="list-group-item">-->
      <!--    <a href="/bookmarks/<%= bookmark.id %>">-->
      <!--      <%= bookmark.notes %>-->
      <!--    </a>-->
      <!--    <div class="btn-group btn-group-xs float-right">-->
      <!--      <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">-->
      <!--        <i class="fa fa-search-plus"></i>-->
      <!--      </a>-->
      <!--      <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">-->
      <!--        <i class="fa fa-edit"></i>-->
      <!--      </a>-->
      <!--      <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">-->
      <!--        <i class="fa fa-trash-o"></i>-->
      <!--      </a>-->
      <!--    </div>-->
      <!--  </li>-->
      <!--<% end %>-->

<!--END OF ATTEMPTED SOLUTION-->

<!-- A Dish has many fans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fans
      </li>

      <% @dish.fans.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>
          <div class="btn-group btn-group-xs float-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

 <!--A Dish has many specialists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Specialists
      </li>

      <% @dish.specialists.each do |venue| %>
        <p class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.name %>
          </a>
          <div class="btn-group btn-group-xs float-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </p>
      <% end %>
    </ul>
  </div>
</div>
